{% extends "sansudrill/base.html" %}
{% load i18n static %}
{% block title %}{{ context.title }}{% endblock title %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'sansudrill/css/base.css' %}?v={{context.timestamp}}">
<link rel="stylesheet" href="{% static 'sansudrill/css/index.css' %}?v={{context.timestamp}}">
{% endblock %}
{% block page_title %}計算ドリル{% endblock %}
{% block content %}

{% if context.message != '' %}
    <div id= "message-area" class="mt-3 alert {{context.message_type}}">{{context.message}}</div>
{% endif %}
{% if form.non_field_errors %}
    <div class="mt-3 alert alert-danger non-field-errors">
        {% for err in form.non_field_errors %}
        ● {{ err }}
        {% endfor %}
    </div>
{% endif %}
<!-- 計算ドリルフォーム -->
<form id="drill-form" class="mt-4" action="/" method="POST" novalidate>
    <!--csrf対策-->
    {% csrf_token %}
    <label class="h4 text-dark">50問テスト 作成する計算式を選択してください</label><br>

    <!--計算式選択-->
    <div class="form-group">
        {% for radio in form.drill_type %}
        <div class="form-check form-check-inline">
            {{ radio.tag }}
            <label class="form-check-label">{{ radio.choice_label }}</label>
        </div>
        {% endfor %}
        {% if form.errors.drill_type != '' %}
        {{ form.errors.drill_type }}
        {% endif %}
    </div>
    <!--計算式-->
    <div class="row form-group m-0 p-0 mb-2">
        <div class="col-3 m-0 p-0 form-inline">
            <div class="w-100px text-right">マイナス：</div>
            {{ form.left_minus_select }}
        </div>
        <div class="col-3 m-0 p-0 form-inline">
            <div class="w-150px text-right">左辺整数(0-10)：</div>
            {{ form.left_input }}
            <label>桁</label>
            {% if form.errors.left_input %}
            <div class="text-danger small">
                {{ form.errors.left_input }}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row form-group m-0 p-0 mb-2">
        <div class="col-3 m-0 p-0 form-inline">
            <div class="w-100px text-right">マイナス：</div>
            {{ form.right_minus_select }}
        </div>
        <div class="col-3 m-0 p-0 form-inline">
            <div class="w-150px text-right">右辺整数(0-10)：</div>
            {{ form.right_input }}
            <label>桁</label>
            {% if form.errors.right_input %}
            <div class="text-danger small">
                {{ form.errors.right_input }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row form-group m-0 p-0 mb-2">
        <div class="col-3 m-0 p-0 form-inline">
            {% if form.drill_type.value == '4' %}
            <div class="w-100px text-right">あまり有無：</div>
            {{ form.mod_select }}
            {% endif %}
        </div>
        <div class="col-3 m-0 p-0 form-inline">
            <div class="w-150px text-right">指定桁固定：</div>
            {{ form.keta_fix_select }}
        </div>
    </div>

    <div class="row form-group m-0 p-0 mb-2">
        <div class="col-3 m-0 p-0 form-inline">
            <div class="w-100px text-right">答えマイナス：</div>
            {{ form.answer_minus_select }}
        </div>
        <div class="col-3 m-0 p-0 form-inline">
            <div class="w-150px text-right">答え出力：</div>
            {{ form.answer_select }}
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
        <button type="button" class="btn btn-primary" name="create_drill" id="id_create_drill" data-action="create_drill">PDF出力</button>
        </div>
    </div>
</form>

{% endblock content %}
{% block extra_js %}
<script src="{% static 'sansudrill/js/index.js' %}?v={{context.timestamp}}"></script>
{% endblock extra_js %}