input#id_left_input, input#id_right_input  {
    width: 100px;
}

select#id_mod_input, select#id_left_minus_select, select#id_right_minus_select
,select#id_keta_fix_left_select,select#id_keta_fix_right_select, select#id_answer_select, select#id_mod_select
,select#id_answer_minus_select, select#id_mondai_cnt_select, select#id_mondai_type_select {
    width: 100px;
}
.select-block{
    margin: auto;
    width: 900px;
    background-color: lightyellow;
}
.select-area {
    border: 2px solid;
    border-color: dimgray;
    border-radius: 10px;
    padding: 10px;
}
.index-message-block{
    margin: auto;
    width: 900px;
    font-size: 16px;
}
.index-message{
    width: 900px;
}

.description-block{
    margin: auto;
    width: 900px;
    border-radius: 10px;
    background-color: rgb(255, 245, 254);
}

.description-area {
    border: 2px solid;
    border-color: dimgray;
    border-radius: 10px;
    padding: 10px;
}

.bg-even {
    background-color: white;
}
.bg-odd{
    background-color: #eeeeee;
}